.hr {
  height: 0px;
  overflow: hidden;
  margin: 5px 0;
  border-top: 1px solid #eee;
  clear: both;
}
.txt-orange {
  color: orange;
}
.toe {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.word-break,
.filter-list-cell span,
.wui-list-affix > li > span {
  word-wrap: break-word;
  word-break: normal;
}
/*强制不换行*/
.oneline,
.wui-grid-header .transit-mark {
  white-space: nowrap;
}
/* 隐藏, 通常用来与 JS 配合 */
.none {
  display: none;
}
.block {
  display: block;
}
.hide {
  visibility: hidden;
}
.clearfix,
.wui-panel-tag,
.wui-data-case > dt,
.wui-data-common > .title,
.wui-data-content-fixed,
.wui-filter,
.wui-form-line,
.user-info-area {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after,
.wui-panel-tag:before,
.wui-panel-tag:after,
.wui-data-case > dt:before,
.wui-data-case > dt:after,
.wui-data-common > .title:before,
.wui-data-common > .title:after,
.wui-data-content-fixed:before,
.wui-data-content-fixed:after,
.wui-filter:before,
.wui-filter:after,
.wui-form-line:before,
.wui-form-line:after,
.user-info-area:before,
.user-info-area:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after,
.wui-panel-tag:after,
.wui-data-case > dt:after,
.wui-data-common > .title:after,
.wui-data-content-fixed:after,
.wui-filter:after,
.wui-form-line:after,
.user-info-area:after {
  clear: both;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: normal 0.66666667em "helvetica neue", helvetica, verdana, tahoma, arial, sans-serif;
  background: #f6f6f6;
  line-height: 1.3;
}
@media (min-width: 640px) {
  body {
    font-size: 1em;
  }
}
@media (min-width: 960px) {
  body {
    font-size: 1.25em;
  }
}
@media (min-width: 1100px) {
  body {
    font-size: 1.5em;
  }
}
ul,
ol,
li,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  font-weight: 500;
}
h2 {
  font-size: 1.125rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.875rem;
}
input {
  outline: none;
}
button,
select,
textarea {
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
textarea {
  resize: none;
}
table,
th,
td {
  border-collapse: collapse;
}
table {
  border-spacing: 0;
}
/* ==========================================================================
   字体和基础排版
   ========================================================================== */
/**
 * 1.防止 iOS 横屏字号放大，同时保证在PC上 zoom 功能正常
 */
html {
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */
  text-size-adjust: 100%;
}
@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1439261133_4621499.eot');
  src: url('http://at.alicdn.com/t/font_1439261133_4621499.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('http://at.alicdn.com/t/font_1439261133_4621499.woff') format('woff'), /* chrome、firefox */ url('http://at.alicdn.com/t/font_1439261133_4621499.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('http://at.alicdn.com/t/font_1439261133_4621499.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.fonticon,
.iconfont,
i {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 1.3rem;
  text-transform: none;
  line-height: 1;
  -webkit-text-stroke-width: 0.2px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-eye:before {
  content: "\e60f";
}
/*显示*/
.icon-search:before {
  content: "\e600";
}
/*搜索*/
.icon-arrow-right:before {
  content: "\e601";
}
/*向右*/
.icon-arrow-up:before {
  content: "\e610";
}
/*向上*/
.icon-arrow-down:before {
  content: "\e611";
}
/*向下*/
.icon-bilateral:before {
  content: "\e613";
}
/*双向箭头*/
.icon-wechat:before {
  content: "\e603";
}
/*微信*/
.icon-location:before {
  content: "\e604";
}
/*定位*/
.icon-return:before {
  content: "\e605";
}
/*返回*/
.icon-right:before {
  content: "\e607";
}
/*正确*/
.icon-password:before {
  content: "\e60e";
}
/*密码*/
.icon-company:before {
  content: "\e608";
}
/*公司*/
.icon-user:before {
  content: "\e609";
}
/*用户*/
.icon-tips:before {
  content: "\e606";
}
/*提示*/
.icon-filter:before {
  content: "\e60a";
}
/*过滤*/
.icon-phone:before {
  content: "\e60b";
}
/*电话*/
.icon-close:before {
  content: "\e60c";
}
/*关闭*/
.icon-focus:before {
  content: "\e60d";
}
/*起运港*/
.icon-to-right:before {
  content: "\e602";
}
/*起运港*/
.icon-clear:before {
  content: "\e612";
}
/*清理*/
.icon-shoucang:before {
  content: "\e615";
}
/*清理*/
.icon-search-nodata:before {
  content: "\e614";
}
/*搜索无数据*/
.icon-nor:before {
  content: "\e619";
}
/*nor图标*/
.icon-nory:before {
  content: "\e61c";
}
/*nor纵向图标*/
.icon-male:before {
  content: "\e61b";
}
/*男商家*/
.icon-female:before {
  content: "\e61d";
}
/*女商家*/
.icon-site:before {
  content: "\e61f";
}
/*账户设置*/
.icon-qq:before {
  content: "\e61e";
}
/*QQ*/
.icon-await:before {
  content: "\e620";
}
/*敬请期待*/
.wui-wrap > .wui-header {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.wui-wrap > .wui-header > .wui-header-cnt {
  position: relative;
  height: 2.188rem;
  line-height: 2.188rem;
  padding: 0 30px;
}
.wui-wrap > .wui-header > .wui-header-cnt > .title {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.wui-wrap > .wui-header > .wui-header-cnt > .left-icon,
.wui-wrap > .wui-header > .wui-header-cnt > .right-icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  line-height: 2.188rem;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.wui-wrap > .wui-header > .wui-header-cnt > .right-icon {
  left: auto;
  right: 0;
}
.wui-wrap-user .wui-header {
  background: #fff;
}
.wui-wrap-user .wui-header > .wui-header-top {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  padding: 1.563rem 0.625rem;
  width: 100%;
  text-align: center;
  font-size: 1.15rem;
  color: #666;
}
.wui-wrap-user .wui-header > .wui-header-top > img {
  width: 7.813rem;
  height: 4.375rem;
  margin-top: 0.938rem;
}
.wui-wrap-user .wui-header > .wui-header-bottom {
  padding: 0.625rem;
  border-top: 1px dashed #ccc;
  font-size: 0.75rem;
  font-weight: bold;
  background: #fafafa;
}
.wui-wrap-user .wui-header > .wui-header-bottom > i {
  color: #00bc51;
}
.wui-wrap-user .wui-header > .wui-header-bottom > label {
  margin-left: 5px;
}
.wui-wrap-user .wui-header > .wui-header-bottom > span {
  margin-left: 5px;
}
.wui-wrap-search > .wui-header,
.wui-wrap-del > .wui-header {
  padding: 0.438rem 0.625rem;
  background: #0089e1;
}
.wui-wrap-del .wui-body {
  padding: 0.313rem;
}
.wui-wrap-del .wui-body > .wui-list + .wui-list {
  margin-top: 0.313rem;
}
.wui-wrap-fixed {
  position: relative;
  padding-top: 5.313rem;
}
.wui-wrap-fixed > .wui-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 90;
  padding: 0;
  background: #0089e1;
}
.wui-wrap-fixed > .wui-header > .wui-header-cnt {
  height: 3.063rem;
  line-height: 3.063rem;
}
.wui-wrap-fixed > .wui-header > .wui-header-cnt > .left-icon {
  left: 0.938rem;
  top: 0.438rem;
}
.wui-wrap-fixed > .wui-header > .wui-header-cnt > .right-icon {
  right: 0.938rem;
  top: 0.438rem;
}
.wui-wrap-fixed > .wui-header > .wui-header-cnt > .multi-service {
  right: 3.125rem;
}
.wui-wrap-fixed > .wui-header > .wui-filter {
  padding: 0 0.625rem;
  background: #fff;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.075);
}
.wui-wrap-filter {
  padding-top: 3.063rem;
}
.wui-wrap-filter > .wui-header {
  position: absolute;
}
.wui-wrap-filter > .wui-footer {
  padding: 1rem .8rem 0;
}
.cui-loading-link {
  display: block;
  height: 48px;
  margin-top: -5px;
  background: #e5e5e5;
  text-align: center;
  line-height: 48px;
  color: #888;
  background: #dddddd;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #eeeeee 0%, #dddddd 100%);
  /* W3C */
  text-shadow: 1px 1px 0 #eee;
}
.wui-wrap-input > .wui-header {
  background: #e8e8e8;
}
.wui-wrap-input .wui-form {
  padding: 0.625rem;
}
.wui-wrap-input .wui-form-line {
  padding-top: 0;
}
.wui-wrap-input .wui-form-line > .line-left {
  width: 90%;
}
.wui-wrap-input .wui-form-line > .line-right {
  width: 10%;
  line-height: 2.813rem;
  color: #aaa;
  font-weight: bold;
  font-size: 0.75rem;
}
.wui-wrap-input .wui-data-case {
  color: #666;
}
.wui-wrap-auto > .wui-header > .wui-header-cnt {
  height: auto;
  line-height: 1.5;
  padding: 0;
  background: #0089e1;
}
.wui-wrap-auto > .wui-body-del {
  padding: 0 5px;
}
.wui-forwarding-link {
  float: right;
  padding-right: 10px;
  color: #0089e1;
}
.wui-nav {
  table-layout: fixed;
  display: table;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #006cb3;
  box-shadow: 0 1px 1px #40a6e8;
  background: #0089e1;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1396ea), color-stop(100%, #0089e1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1396ea 0%, #0089e1 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #1396ea 0%, #0089e1 100%);
  /* W3C */
}
.wui-nav-link {
  display: table-cell;
  height: 2.188rem;
  line-height: 2.188rem;
  border-right: 1px solid #0065A6;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}
.wui-nav-link:focus,
.wui-nav-link.active {
  background: #0064a5;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006bb2), color-stop(100%, #0064a5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #006bb2 0%, #0064a5 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #006bb2 0%, #0064a5 100%);
  /* W3C */
}
.wui-nav-link:last-child {
  border-right-width: 0;
}
.wui-btn {
  display: block;
  width: 100%;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  background-image: none;
  border-color: #c2c2c2;
  background: #f5f5f5;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
  /* W3C */
  color: #666666;
  height: 2.813rem;
  line-height: 2.688rem;
  padding-left: 1.063rem;
  padding-right: 1.063rem;
  font-size: 1rem;
  border-radius: 0.188rem;
  outline: none;
}
.wui-btn:hover {
  border-color: #a9a9a9;
  background: #f5f5f5;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
  /* W3C */
}
.wui-btn:active,
.wui-btn.active {
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.wui-btn.disabled,
.wui-btn[disabled],
fieldset[disabled] .wui-btn {
  cursor: not-allowed;
  pointer-events: none;
  border-color: #8cc1dd;
  background: #a0d0ef;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a7d5f2), color-stop(100%, #a0d0ef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a7d5f2 0%, #a0d0ef 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #a7d5f2 0%, #a0d0ef 100%);
  /* W3C */
  color: #ffffff;
}
.wui-btn.disabled:hover,
.wui-btn[disabled]:hover,
fieldset[disabled] .wui-btn:hover {
  border-color: #65acd2;
  background: #a0d0ef;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a7d5f2), color-stop(100%, #a0d0ef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a7d5f2 0%, #a0d0ef 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #a7d5f2 0%, #a0d0ef 100%);
  /* W3C */
}
.wui-btn-inline {
  display: inline-block;
  width: auto;
}
.wui-btn-success {
  border-color: #029240;
  background: #00bc51;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #02c556), color-stop(100%, #00bc51));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #02c556 0%, #00bc51 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #02c556 0%, #00bc51 100%);
  /* W3C */
  color: #ffffff;
}
.wui-btn-success:hover {
  border-color: #015f2a;
  background: #00bc51;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #02c556), color-stop(100%, #00bc51));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #02c556 0%, #00bc51 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #02c556 0%, #00bc51 100%);
  /* W3C */
}
.wui-btn-primary {
  border-color: #026ea5;
  background: #0089e1;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1497eb), color-stop(100%, #0089e1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1497eb 0%, #0089e1 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #1497eb 0%, #0089e1 100%);
  /* W3C */
  color: #ffffff;
}
.wui-btn-primary:hover {
  border-color: #014c72;
  background: #0089e1;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1497eb), color-stop(100%, #0089e1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1497eb 0%, #0089e1 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #1497eb 0%, #0089e1 100%);
  /* W3C */
}
.wui-btn-warning {
  border-color: #ef9b25;
  background: #ffb042;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbf67), color-stop(100%, #ffb042));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffbf67 0%, #ffb042 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #ffbf67 0%, #ffb042 100%);
  /* W3C */
  color: #ffffff;
}
.wui-btn-warning:hover {
  border-color: #d2810f;
  background: #ffb042;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbf67), color-stop(100%, #ffb042));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffbf67 0%, #ffb042 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #ffbf67 0%, #ffb042 100%);
  /* W3C */
}
.wui-btn-danger {
  border-color: #c43433;
  background: #ed4545;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eb6464), color-stop(100%, #ed4545));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eb6464 0%, #ed4545 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #eb6464 0%, #ed4545 100%);
  /* W3C */
  color: #ffffff;
}
.wui-btn-danger:hover {
  border-color: #9b2928;
  background: #ed4545;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eb6464), color-stop(100%, #ed4545));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eb6464 0%, #ed4545 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #eb6464 0%, #ed4545 100%);
  /* W3C */
}
.wui-link {
  display: inline-block;
  padding: 0.313rem;
  vertical-align: middle;
  color: #1497eb;
  font-size: 0.875rem;
}
.wui-breadcrumb > li {
  display: inline-block;
}
.wui-breadcrumb > li > span,
.wui-breadcrumb > li a {
  display: inline-block;
  font-size: 1rem;
}
.wui-breadcrumb > li > a {
  color: #1d8acb;
}
.wui-breadcrumb > li:nth-child(n+2):before {
  content: "/";
  display: inline-block;
  margin: 0 0.063rem;
}
.wui-panel {
  width: 100%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.wui-panel-tag {
  margin-top: 0.625rem;
}
.wui-panel-tag > dt {
  padding: 0.188rem;
}
.wui-panel-tag > dt > h3 {
  font-size: 1.125rem;
  font-weight: bold;
}
.wui-panel-tag > .first-tag,
.wui-panel-tag .tag-cell {
  width: 100%;
  padding: 0.188rem;
}
.wui-panel-tag > .first-tag > a,
.wui-panel-tag .tag-cell > a {
  display: block;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: #333333;
  background: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.wui-panel-tag > .first-tag.active a,
.wui-panel-tag .tag-cell.active a {
  border-color: #73B9FF;
  background: #EEF8FF;
  color: #0089e1;
}
.wui-panel-tag > .tag-cell {
  float: left;
  width: 50%;
}
.wui-panel-tag > .tag-cell > a {
  text-align: left;
}
.wui-data-case {
  margin-top: 1rem;
}
.wui-data-case > dt {
  padding: 0.625rem 0;
  border-bottom: 1px solid #e1e1e1;
  font-weight: bold;
}
.wui-data-case > dt > .return {
  float: right;
  color: #0089e3;
  font-size: 0.875rem;
}
.wui-data-case > dt > h3 {
  font-weight: bold;
}
.wui-data-case > dd {
  padding: 0.625rem 0;
  border-bottom: 1px solid #e1e1e1;
}
.wui-data-case > dd > .icon-arrow-right {
  color: #ccc;
  font-size: 0.75rem;
  vertical-align: middle;
}
.wui-data-case > dd:last-child {
  padding-top: 0.625rem;
  border-bottom-width: 0;
}
.wui-data-case > dd > button {
  width: 35%;
  height: 2.5rem;
  line-height: 2.375rem;
  margin: 0 auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.75rem;
}
.wui-data-common > .title {
  padding: 0.625rem 0;
  font-weight: bold;
  color: #666;
}
.wui-data-common > .title > .return {
  float: right;
  color: #0089e3;
  font-size: 0.875rem;
}
.wui-data-common > .title > h3 {
  font-weight: bold;
}
.wui-data-content-fixed > .data-fixed-grid {
  float: left;
  width: 33.3%;
  padding-right: 0.313rem;
  margin-bottom: 0.313rem;
}
.wui-data-content-fixed > .data-fixed-grid > .data-fixed-cell {
  height: 3.25rem;
  border: 1px solid #ddd;
  background: #fff;
  padding: 0.5rem;
  font-size: 0.875rem;
}
.wui-data-content-fixed > .data-fixed-grid > .data-fixed-cell > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.wui-data-content-fixed > .data-fixed-grid > .data-fixed-cell > span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  color: #aaa;
}
.wui-data-content-fixed > .data-fixed-grid:nth-child(3n) {
  padding-right: 0;
}
.wui-feedback {
  padding-top: 0.625rem;
}
.wui-feedback > .wui-feedback-content > .feedback-icon-tips {
  height: 5.313rem;
  line-height: 5.313rem;
  text-align: center;
}
.wui-feedback > .wui-feedback-content > .feedback-icon-tips > i {
  font-size: 2rem;
  color: #aaa;
}
.wui-feedback > .wui-feedback-content > .wui-feedback-info {
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  text-align: center;
}
.wui-feedback > button {
  margin-top: 0.938rem;
}
.wui-feedback-txt > .wui-feedback-content > p {
  padding: 0.625rem 0;
  font-size: 0.875rem;
  font-weight: bold;
}
.wui-feedback-txt.error-feedback {
  margin-top: 3.75rem ;
  padding: 0 1.25rem;
}
.wui-feedback-txt.error-feedback > .wui-feedback-content {
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: #f5ece6;
  border: 1px solid #c7ba96;
  color: #7b491b;
}
.wui-input {
  position: relative;
  display: table;
  height: 2.813rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.075);
  background: #fff;
}
.wui-input + .wui-input {
  margin-top: 0.625rem;
}
.wui-input > input {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 0 0.625rem;
  padding-right: 0;
  border: none;
  background: transparent;
  color: #666666;
  font-size: 0.875rem;
}
.wui-input > .wui-input-info {
  display: table-cell;
  vertical-align: middle;
  width: 4rem;
  padding: 0 0.375rem;
  background-color: #f5f5f5;
  border-right: 1px solid #e5e5e5;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
}
.wui-input.inline {
  display: inline-block;
  width: auto;
}
.wui-input-icon {
  display: table-cell;
  vertical-align: middle;
  line-height: 2.813rem;
  width: 2.5rem;
  text-align: center;
  color: #c9c9d0;
}
.wui-filter > .filter-cell {
  float: left;
  height: 2.188rem;
  line-height: 2.125rem;
  padding: 0 0.75rem;
  border-right: 1px solid #eee;
  font-weight: bold;
  color: #666;
  font-size: .8rem;
}
.wui-filter > .filter-cell > i {
  font-size: .8rem;
  color: #aaa;
  vertical-align: top;
}
.wui-filter > .filter-cell:first-child {
  color: #ff8900;
}
.wui-filter > .filter-cell:first-child i {
  color: #ff8900;
  font-size: 10px;
}
.wui-filter-title {
  padding: 10px;
  background-color: #e9e9e9;
  color: #666;
  font-weight: bold;
  font-size: 1rem;
}
.wui-filter-list {
  padding-left: 10px;
  background: #fff;
  font-size: 0.875rem;
  color: #666;
}
.wui-filter-list label {
  color: #999;
}
.filter-list-line {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.filter-list-line:last-child {
  border-bottom: none;
}
.filter-list-top {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-weight: bold;
}
.filter-list-top .icon-arrow-right {
  margin: 0 5px;
  color: #ccc;
  font-size: 0.6rem;
  vertical-align: middle;
}
.filter-list-top span {
  vertical-align: middle;
}
.filter-list-cell {
  display: table-cell;
  padding: 10px 10px 10px 60px;
}
.filter-list-cell label {
  display: inline-block;
  width: 60px;
  margin-left: -60px;
  vertical-align: top;
  text-align: right;
}
.filter-list-cell span {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
.filter-list-cell.last {
  width: 50px;
  padding: 0;
  text-align: center;
}
.filter-list-cell + .filter-list-cell {
  border-left: 2px solid #eee;
}
.wui-list-title {
  padding: 0.625rem 0;
  padding-left: .625rem;
  font-size: 14px;
}
.wui-list-title > .icon-arrow-right {
  position: relative;
  top: -2px;
  color: #ccc;
  font-size: 0.6rem;
}
.wui-list-title-icon {
  position: relative;
  top: -2px;
  color: #ccc;
  font-size: 0.6rem;
}
.wui-list-grid {
  position: relative;
  border: 1px solid #ddd;
  background: #fafafa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.wui-list-grid + .wui-list-grid {
  margin: 0.313rem 0;
}
.wui-list-grid:first-child {
  margin-top: 10px;
}
.wui-grid-header {
  padding: 0.313rem;
  border-bottom: 1px solid #eee;
  background: #fff;
  font-size: 0;
}
.wui-grid-header .transit-mark {
  padding: 1px 2px;
  border-radius: 1px;
  margin-left: 5px;
  background: #09bfe2;
  font-size: 0.5rem;
  color: #fff;
  font-style: normal;
  vertical-align: middle;
}
.wui-grid-header label {
  color: #999;
}
.wui-grid-header-left {
  font-size: 14px;
}
.wui-grid-header-left > h3 {
  display: inline-block;
  padding: 0 0.313rem;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
}
.wui-grid-header-left .icon-arrow-right {
  margin: 0 5px;
  color: #ccc;
  font-size: 0.6rem;
  vertical-align: middle;
}
.wui-grid-header-left span {
  vertical-align: middle;
}
.wui-grid-header-right {
  font-size: 14px;
}
.wui-grid-header-right > p {
  display: inline-block;
  padding: 0 0.313rem;
  vertical-align: middle;
  font-size: 12px;
  color: #333;
}
.wui-grid-body {
  position: relative;
  padding: 0.625rem 1.25rem 0.625rem 2.5rem;
}
.wui-grid-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.wui-grid-label {
  position: absolute;
  left: 0;
  bottom: 0.625rem;
  width: 2.5rem;
  text-align: right;
  font-size: 12px;
  color: #bbb;
}
.wui-grid-to-detail {
  position: absolute;
  right: 0.313rem;
  top: 10px;
  width: 0.938rem;
  height: 14px;
  vertical-align: middle;
  color: #ccc;
  font-size: .8rem;
}
.wui-grid-cell {
  display: table-cell;
}
.wui-grid-cell > span {
  position: relative;
  display: block;
  padding-bottom: 0.188rem;
  color: #999;
  font-size: 12px;
}
.wui-grid-cell .icon-nory {
  position: absolute;
  color: #aaa;
  left: -15px;
  top: -1px;
  font-size: 18px;
}
.wui-grid-cell .quoted-price {
  color: #9e5010;
  font-size: 16px;
}
.wui-grid-cell .costs-price {
  font-size: 12px;
  color: #ea832e;
}
.wui-list-lcl .wui-grid-body {
  padding-left: 3.125rem;
}
.wui-list-lcl span,
.wui-list-lcl .costs-price {
  font-size: 14px;
}
.wui-list-lcl .quoted-price {
  font-size: 18px;
}
.wui-list-lcl .wui-grid-label {
  bottom: 0.688rem;
  width: 3.125rem;
  padding-right: 3px;
}
.wui-list-lcl .quoted {
  padding-bottom: 0.313rem;
}
.wui-list-affix {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: 0.313rem;
  border: 1px solid #ccc;
}
.wui-list-affix > li {
  display: table-row;
}
.wui-list-affix > li > label,
.wui-list-affix > li > span {
  display: table-cell;
  font-size: 0.875rem;
  padding: .5rem .2rem;
  border-bottom: 1px solid #e5e5e5;
}
.wui-list-affix > li > label {
  width: 6rem;
  word-wrap: break-word;
  word-break: normal;
  text-align: right;
  color: #999;
}
.wui-list-affix > li > span {
  text-align: left;
  font-size: 0.875rem;
}
.wui-list-affix > li:nth-child(2n) {
  background: #fcfcfc;
}
.wui-list-affix > li:last-child > label,
.wui-list-affix > li:last-child > span {
  border-bottom-width: 0;
}
@media (min-width: 640px) {
  .wui-list {
    font-size: 18px;
  }
}
.wui-table-title {
  padding: 0.313rem;
  margin-top: 0.313rem;
  font-weight: bold;
  color: #666;
}
.wui-table {
  width: 100%;
}
.wui-table td,
.wui-table th {
  text-align: left;
}
.wui-table-affix {
  border: 1px solid #ccc;
}
.wui-table-affix tr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.wui-table-affix tr:nth-child(2n) {
  background: #fcfcfc;
}
.wui-table-affix tr:first-child {
  border-top-width: 0;
}
.wui-table-affix tr:last-child {
  border-bottom-width: 0;
}
.wui-table-affix td {
  padding: 0.625rem 0;
  text-align: left;
}
.wui-table-surcharge {
  background: #fff;
}
.wui-table-surcharge td,
.wui-table-surcharge th {
  height: 29px;
  line-height: 29px;
  border: 1px solid #ccc;
  text-align: center;
}
.wui-table-surcharge th {
  background: #f1f1f1;
  color: #333;
}
.wui-table-surcharge td {
  color: #333;
}
.wui-table-surcharge .usd {
  color: #f9aa0b;
}
.wui-table-surcharge .cny {
  color: #999;
}
.wui-process {
  margin-top: 1.25rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}
.wui-process-cell {
  position: relative;
  padding-left: 20px;
  padding-bottom: 15px;
  border-left: 1px solid #ccc;
}
.wui-process-cell:last-child {
  border-color: transparent;
}
.wui-process-point {
  position: absolute;
  left: -6px;
  top: 0;
  z-index: 103;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #329900;
}
.wui-process-content > .time-info {
  color: #c5bdd1;
}
.wui-tips {
  font-size: 12px;
  color: #666;
}
.wui-tips > i {
  font-size: 14px;
  color: #098fe6;
}
.wui-tips.error {
  color: #d00218;
}
.wui-tips.error > i {
  color: #d00218;
}
.wui-tips.txt-oange {
  color: #F05721;
}
.wui-form {
  position: relative;
  padding: 0.625rem 0.625rem 0 0.625rem;
}
.wui-form-line {
  padding-top: 0.625rem;
}
.wui-form-line.button-line {
  padding-top: 1.25rem;
}
.wui-form-line.link-line {
  text-align: center;
}
.wui-form-line > .line-left {
  float: left;
  width: 55%;
  padding-right: 0.188rem;
}
.wui-form-line > .line-right {
  float: left;
  width: 45%;
  padding-left: 0.313rem;
}
.wui-form-line > .line-right > .wui-btn {
  font-size: 0.875rem;
}
.wui-form-order {
  padding: 0;
  margin-bottom: 0.938rem;
}
.wui-form-order > .wui-form-line {
  position: relative;
  padding: 0.313rem 0;
  padding-left: 5rem;
}
.wui-form-order .order-label {
  position: absolute;
  left: 0;
  top: 0.313rem;
  z-index: 101;
  width: 5rem;
  text-align: right;
}
.wui-form-order .order-info {
  display: block;
}
.wui-form-order .order-status {
  color: #666;
}
.wui-form-order .order-status.error {
  color: #D9534F;
}
.wui-form-order .order-status.warning {
  color: #FF7F00;
}
.wui-form-order .order-status.success {
  color: #34d1f1;
}
.wui-nodata {
  width: 100%;
  padding: 0.938rem 3.438rem;
  margin-top: 6.25rem;
  text-align: center;
}
.wui-nodata-icon {
  font-size: 2rem;
  color: #b3b3b3;
}
.wui-nodata-info {
  padding: 0.625rem 0;
  font-size: 1.125rem;
  color: #aaa;
  text-align: left;
}
.wui-await {
  width: 100%;
  padding: 0.938rem 3.438rem;
  margin-top: 6.25rem;
  text-align: center;
}
.wui-await-icon {
  font-size: 3.5rem;
  color: #b3b3b3;
}
.wui-await-info {
  font-size: 1.125rem;
  color: #aaa;
}
.wui-dialog {
  position: fixed;
  z-index: 900;
  top: 0;
  right: 0;
  bottom: 0;
  width: 85%;
  box-shadow: -3px 0 4px rgba(0, 0, 0, 0.22);
  padding-bottom: 4.063rem;
  background: #f6f6f6;
}
.wui-dialog > .dialog-close {
  position: absolute;
  right: 0.438rem;
  top: 0.625rem;
  font-size: 1.25rem;
  color: #c9c8c8;
}
.wui-dialog > .wui-dialog-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 110;
  height: 4.063rem;
  border-top: 1px solid #c7c7c7;
}
.wui-dialog > .wui-dialog-footer > .wui-btn {
  width: 90%;
  margin: 0 auto;
  margin-top: 0.625rem;
}
.wui-shadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.15);
}
.wui-alert {
  position: fixed;
  left: 50%;
  top: 30%;
  bottom: auto;
  z-index: 109;
  width: 200px;
  margin-left: -100px;
  padding-top: 32px;
  padding-bottom: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  color: #666;
  font-size: 12px;
}
.wui-alert > .dialog-close {
  position: absolute;
  right: 0.438rem;
  top: 0.625rem;
  color: #c9c8c8;
  font-size: 14px;
}
.wui-alert > .wui-alert-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 110;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  text-align: right;
}
.wui-alert > .wui-alert-footer > .wui-btn {
  display: inline-block;
  lign-items: center;
  height: 28px;
  line-height: 28px;
  width: auto;
  vertical-align: middle;
  font-size: 12px;
}
.wui-shadow-alert {
  background: rgba(0, 0, 0, 0.5);
}
.wui-checkbox {
  tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
  height: 29px;
  width: 50px;
  vertical-align: middle;
}
.wui-checkbox input {
  display: none;
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}
.wui-checkbox-control {
  display: inline-block;
  position: relative;
  background-color: #fafbfa;
  padding: 9px;
  border-radius: 50px;
  -webkit-transition: all 0.1s ease-in;
          transition: all 0.1s ease-in;
  width: 50px;
  height: 29px;
}
.wui-checkbox-control:before {
  content: ' ';
  position: absolute;
  background: white;
  top: 1px;
  left: 1px;
  z-index: 999999;
  width: 27px;
  -webkit-transition: all 0.1s ease-in;
          transition: all 0.1s ease-in;
  height: 27px;
  border-radius: 100px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.05), 0 0px 1px rgba(0, 0, 0, 0.3);
}
.wui-checkbox-control:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: box-shadow 0.1s ease-in;
          transition: box-shadow 0.1s ease-in;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  box-shadow: inset 0 0 0 0 #eeeeee, 0 0 1px rgba(0, 0, 0, 0.4);
}
.wui-checkbox-active .wui-checkbox-control:before {
  content: ' ';
  position: absolute;
  left: 22px;
  border-radius: 100px;
}
.wui-checkbox-active .wui-checkbox-control:after {
  content: ' ';
  font-size: 1.5em;
  position: absolute;
  background: #0189e0;
  box-shadow: 0 0 1px #0189e0;
}
.user-site-top {
  padding: 24px 0;
  text-align: center;
}
.user-site-top .icon-site {
  font-size: 6.5rem;
  color: #D0ECFF;
}
.user-site-area {
  font-size: 14px;
}
.user-site-items {
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  color: #333;
  background: #fff;
  font-size: 16px;
}
.user-site-info {
  padding: 8px 10px 8px;
  background: #ebebeb;
  color: #666;
}
.user-site-opition {
  float: right;
  margin-top: 8px;
  line-height: 1.5;
}
.user-info-area {
  padding: 15px 10px;
  color: #fff;
  font-size: 0.875rem;
}
.user-info-title {
  padding-bottom: 10px;
  font-weight: bold;
}
.user-info-title i {
  margin-right: 5px;
  font-size: 1rem;
}
.user-info-line label,
.user-info-line span {
  vertical-align: middle;
}
.user-info-line .dividing-line {
  display: inline-block;
  height: 15px;
  margin: 0 10px;
  border-left: 1px solid #61B5EC;
  vertical-align: middle;
}
.user-qq-link {
  display: inline-block;
  width: 62px;
  height: 22px;
  line-height: 22px;
  border-radius: 2px;
  vertical-align: middle;
  background: #fff;
  font-size: 0.75rem;
  color: #0189E0;
  text-align: center;
}
.user-qq-link i {
  font-size: 0.875rem;
  color: #0189E0;
}
.user-info-wechat {
  padding-left: 55px;
}
.user-info-portrait {
  float: left;
  margin-left: -45px;
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 3px;
  overflow: hidden;
}
.user-info-portrait img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
